name: Build Ubuntu Template

on:
  schedule:
    - cron: "0 0 * * *"

  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install packer
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get update && sudo apt-get install packer -y
          sudo apt install xorriso -y

      - name: Install tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up --accept-routes --authkey ${{ secrets.TAILSCALE_KEY }}

      - name: Build template
        run: |
          cd ./packer/ubuntu2004
          packer build -force -var "VCSA_PASSWORD=${{ secrets.VCSA_PASSWORD }}" ubuntu-2004.json.pkr.hcl
